DATABASE_CONNECTION="postgresql+asyncpg://username:password@localhost:Port/dbname"

GOOGLE_CLIENT_ID=YOUR_GOOGLE_CLIENT_ID.apps.googleusercontent.com
GOOGLE_CLIENT_SECRET=YOUR_GOOGLE_CLIENT_SECRET
GOOGLE_REDIRECT_URI=YOUR_REDIRECT_URI
IS_DEVELOPMENT=False

SENDGRID_API_KEY=""
SENDER_EMAIL=""

REGION = "us-east-1"
aws_access_key_id="test"
aws_secret_access_key="test"
LOCALSTACK_ENDPOINT = "http://localhost:4566"